node_modules
.next
.git
.gitignore
Dockerfile
docker-compose.yml
dist
debug
npm-debug.log
yarn-error.log
*.md
*.log
*.tsbuildinfo
*.swp
.env.local
.env.development
.env.test
coverage
.vscode
.idea
*.tgz
